.App {
  flex-grow: 1;
  background-color: #e8eaf6;
  height: 100vh;
  min-height: 100vh;
}

.grow {
  flex-grow: 1;
}

.loginRoot {
  max-width: 35%;
  margin: auto;
}

.logo {
  width: 60%;
  align-self: center;
}

.title {
  padding-top: 0px;
}

.paper {
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textField {
  margin-left: 5px;
  margin-right: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  align-self: center;
}

.formTextInput {
  max-width: 30%;
}

.formInputContainer {
  display: flex;
  justify-content: space-evenly;
}

.formButtonContainer {
  display: flex;
  justify-content: space-around;
}

.formText {
  max-width: 40%;
}

.accountRoot {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.accountDiv {
  margin-top: 20px;
  width: 45vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}